
#header{

    background-color: rosybrown;
    padding: 50px;
    
}
h1{

    color: aliceblue;
}
.navbar{

    background-color: transparent !important;

}
h1{
    font-family: 'Open Sans', sans-serif;
    
}
#single{
    color: aliceblue;
   text-decoration: none;
}
p{
    font-family: 'Oswald', sans-serif;
}
footer{
    background-color: rosybrown;
    padding: 50px;
    color: aliceblue;
    
}
.footer{

    font-family: 'Open Sans', sans-serif;
}

h2{
    font-family: 'Lato', sans-serif;

}
.post{
    color: aliceblue;
    text-decoration: none;

}
